@page
@model DineInsights.Pages.Restaurants.NotFoundModel
@{
}

<h2 style="color:red">The Restaurant you are looking for doesn't exists.</h2>
<a class="btn btn-secondary" asp-page="./List">Go To All Restaurants</a>